@import "tailwindcss";

@layer base {
  :root {
    /* Light theme variables */
    --background: #ffffff;
    --foreground: #171717;
    --color-primary: #2563eb;
    --color-primary-hover: #1e40af;
    --color-secondary: #6b7280;
    --color-secondary-hover: #4b5563;
    --color-accent: #AC42BA;
    --color-btnaccent: #FEF5C4;
    --color-btnaccent-hover: #FFF1A8;
    --color-accent-hover: #059669;
    --color-border: #d1d5db;
    --color-border-hover: #9ca3af;

    /* Font variables */
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  }
  

  [data-theme='dark'] {
    /* Dark theme variables */
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-primary: #3b82f6;
    --color-primary-hover: #2563eb;
    --color-secondary: #9ca3af;
    --color-secondary-hover: #6b7280;
    --color-accent: #34d399;
    --color-accent-hover: #10b981;
    --color-border: #374151;
    --color-border-hover: #4b5563;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }
}

@layer utilities {
  .bg-btn-accent {
    background-color: var(--color-btnaccent);
  }
  .hover\:bg-btn-accent-hover:hover {
    background-color: var(--color-btnaccent-hover);
  }
  .text-btn-accent {
    color: var(--color-btnaccent);
  }
}
