@import "tailwindcss";

@theme {
  extend: {
    colors: {
      primary: "#000000",
      secondary: "#4D4D4D",
      tertiary: "#565353",
      background: "#FFFFFF",
      accent: "#82438C",
      btnaccent: "#FEF5C4",
    },
    fontFamily: {
      sans: ["Inter", "sans-serif"],
      serif: ["Merriweather", "serif"],
    },
  },
}